<section class="left-bar sticky-top">  
  <div class="bg-aclineblue p-tb">
    <div class="m-tb">
      <h4 class="name">Welcome</h4>
      <h4 class="home" (click)="selectHome()">Home</h4>
      <h4 class="about" (click)="selectAbout()">About</h4>
      <h4 class="service" (click)="selectservice()">Service</h4>
      <h4 class="Skills" (click)="selectskills()">Skills</h4>
      <h4 class="Education">Education</h4>
      <h4 class="Experience">Experience</h4>
      <h4 class="Work">Work</h4>
    </div>
    <p><small>©
        Harsha rights reserved | This template is made with <i class="icon-heart"
          aria-hidden="true"></i></small></p>
  </div>
</section>  
